<html>

<head>
    <!-- Bootstrap and jQuery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Sweet Alert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css">

    <style>
        .signup-input {
            align-items: center;
        }

        .submit-btn {
            border: none;
            padding: 0.5em 5em;
            font-size: 1.3em;
            color: white;
            background-color: brown;
            border-radius: 1em;
        }
    </style>
</head>

<body>
    <div>
        <div class="row p-5">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <h1>Signup Form</h1>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 text-center"></div>
            <div class="col-sm-12 col-md-12 col-lg-4 text-center mt-5">
                <input type="email" name="email" class="form-control signup-input" placeholder="Email" id="email" />
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 text-center"></div>
            <div class="col-sm-12 col-md-12 col-lg-4 text-center"></div>
            <div class="col-sm-12 col-md-12 col-lg-4 text-center mt-4">
                <input type="password" name="password" class="form-control signup-input" placeholder="Password"
                    id="password" />
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 text-center"></div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center mt-4">
                <button class="submit-btn">Submit</button>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $(".submit-btn").click(function () {
                let data = {
                    username: $("#email").val(),
                    password: $("#password").val()
                }
                $.ajax({
                    url: "/login",
                    type: "post",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (result) {
                        window.location.href = "https://video-chat-app-216.herokuapp.com"
                    },
                    error: function (result) {
                        $("#loader").hide();
                        Swal.fire(
                            'Uh Oh!',
                            result.responseJSON.message,
                            'error'
                        )
                    }
                })
            })
        })
    </script>
</body>

</html>